* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

p.just-text {
    font-size: 30px;
    line-height: 1.7em;
    margin-left: 5em;
    margin-right: 5em;
}

.вехнееМеню {
    height: 60px;
    border-radius: 7px;
    width: calc(100% - 2*var(--otstup));
    margin-left: var(--otstup);
    margin-top: var(--otstup);
    background-color: #202020;
    position: fixed;
    left: 0;
    top: 0;
    --otstup: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.пачкаКнопок {
    display: flex;
    gap: 18px;
}

.fon1 {
    width: 100%;
    height: 900px;
}

.верхниеКнопки {
    color: rgb(255, 255, 255);
    background-color: #202020;
    border: 0px solid black;
    font-size: 15px;
    height: 40px;
    transition: background 0.0s;
    cursor: pointer;
}

.верхниеКнопки:hover {
    border-radius: 5px;
    background: #35363df2;
}

.верхниеКнопки:active {
    transform: scale(0.8);
    transition: 100ms;
}

.больше {
    font-size: 30px;
}

.приобрести {
    background-color: #008604;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.приобрести:hover {
    background: #0da112;
    border-radius: 5px;
    height: 40px;
}

.BLIZZARD {
    color: #00aeff;
    margin-left: 24px;
}

.BLIZZARD:hover {
    background: #202020;
    color: #55c9ff;
    border-radius: 5px;
    height: 40px;
}
.заднийФон1{
    display: flex;
}